<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sickle.healthcareapp">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- For android.permission.SCHEDULE_EXACT_ALARM -->
    <!-- For android.permission.USE_EXACT_ALARM -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.sickle.healthcareapp.BarCodeActivity"
            android:exported="false" />
        <activity
            android:name="com.sickle.healthcareapp.home.MedicineActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgkWPcH0YfpscYSLaowgQaKIcrG_12BIg" />

        <activity
            android:name="com.sickle.healthcareapp.Hospitals_Activity"
            android:exported="false" />
        <activity
            android:name="com.sickle.healthcareapp.MyCalendarDoctorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.TestActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.AppointementActivity" />
        <activity
            android:name="com.sickle.healthcareapp.FicheInfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.PatientInfoActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.DossierMedical" />
        <activity android:name="com.sickle.healthcareapp.ChatActivity" />
        <activity
            android:name="com.sickle.healthcareapp.PatientRequestPage"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.DoctorHomeActivity" />
        <activity
            android:name="com.sickle.healthcareapp.EditProfileDoctorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.ConfirmedAppointmensActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.PatientAppointementsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.ProfilePatientActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.MyDoctorsAvtivity" />
        <activity
            android:name="com.sickle.healthcareapp.ProfileDoctorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.Medicine2"
            android:turnScreenOn="true" />
        <activity
            android:name="com.sickle.healthcareapp.EditProfilePatientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.DoctorAppointementActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.FicheActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.MyPatientsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.SearchPatActivity" />
        <activity
            android:name="com.sickle.healthcareapp.FirstSigninActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.sickle.healthcareapp.HomeActivity" />
        <activity
            android:name="com.sickle.healthcareapp.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.sickle.healthcareapp.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".home.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>